<header class="header">
  <div class="navbar">
    <div class="logo"><a routerLink="/">{{ messages.header.titulo }}</a></div>
    <ul class="links">
      <a routerLink="/" class="action-btn2">{{ messages.header.menuHome }}</a><div class="linea-vertical"></div>
      <a routerLink="/products" class="action-btn2">{{ messages.header.menuProducts }}</a><div class="linea-vertical"></div>
      <a routerLink="/users" class="action-btn2">{{ messages.header.menuUsers }}</a><div class="linea-vertical"></div>
      <a routerLink="/about-me" class="action-btn2">{{ messages.header.menuAbout }}</a><div class="linea-vertical"></div>
      <a routerLink="/contact" class="action-btn2">{{ messages.header.menuContact }}</a>
    </ul>
    <!--a *ngIf="!activo" routerLink="/crear-producto" class="action-btn">New product</a>
    <a *ngIf="activo" routerLink="/crear-producto" class="action-btn">Log out</a-->
    <div class="toggle_btn">
      <svg title="Menu" *ngIf="isActive" (click)="toggleMenu()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
      </svg>
      <svg title="Cerrar" *ngIf="!isActive" (click)="toggleMenu()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
      </svg>
    </div>
  </div>
  <div class="dropdown-menu" *ngIf="!isActive">
    <li><a routerLink="/"  class="action-btn">{{ messages.header.menuHome }}</a></li>
    <li><a routerLink="/products">{{ messages.header.menuProducts }}</a></li>
    <li><a routerLink="/users">{{ messages.header.menuUsers }}</a></li>
    <li><a routerLink="/about-me">{{ messages.header.menuAbout }}</a></li>
    <li><a routerLink="/contact">{{ messages.header.menuContact }}</a></li>
    <!--li *ngIf="!activo"><a routerLink="/crear-producto" class="action-btn">New product</a></li>
    <li *ngIf="activo"><a routerLink="/crear-producto" class="action-btn">Log out</a></li-->
  </div>
</header>

