<app-header></app-header>
<div class="main pt-10">
  <div class="contenido pb-4">
    <br>
    <p>
      ¡Hola que tal! Soy Mauricio Castro Ahumada, apasionado por el desarrollo de software con dos años de experiencia.
      Desde que ingresé a este mundo he estado inmerso en la creación de soluciones innovadoras que ayudan a los procesos internos de la empresa.
      Mi enfoque se centra en proporcionar resultados de calidad que no solo cumplan con los requisitos, sino que también superen las expectativas.
      <br><br>
      En mi experiencia he trabajado con diversas tecnologías, pero mi corazón está especialmente ligado a Java y PHP,
      dominando los frameworks de Spring Boot y Laravel con los que llevo mis proyectos al siguiente nivel.
      Para el frontend, me enorgullezco de ofrecer interfaces de usuario dinámicas y atractivas utilizando Angular.
      Por lo que creo en la importancia de una experiencia de usuario fluida y memorable,
      y trabajo diligentemente para lograr ese objetivo en cada proyecto en el que me involucro.
      <br><br>
      Lo que diferencia mi enfoque es mi versatilidad. He tenido la oportunidad de trabajar tanto en el
      ámbito empresarial como en proyectos freelance, lo que me ha brindado una perspectiva amplia y
      valiosa sobre las diversas necesidades y desafíos del desarrollo de software.
      <br><br>
      Si estás buscando un colaborador comprometido, creativo y orientado a resultados para tu próximo proyecto,
      no busques más. Estoy aquí para ayudarte a alcanzar tus objetivos digitales con soluciones que marquen la diferencia.
    </p>
    <br>
    <div class="flex justify-center mb-6">
      <hr>
    </div>

    <a routerLink="/contact" class="contact-me mb-6">Contacta me</a>



  </div>
</div>
