
.main{ /* Centrado vertical */
  position: relative;
  height: 100vh;
  text-align: center;
}
.contenido{
  padding: 30px;
}
hr{
  width: 50%;
  margin-bottom: auto;
  border-color: #97C93E;
}
p{
  color: #206000;
}

/* Estilos para pantallas más pequeñas que 320px de ancho */
@media (max-width: 320px) {
  .contenido {
    margin: auto;
    width: 90%; /* Ancho fijo de 450px */
    box-shadow: 2px 2px 5px #206000;
    padding: 5px;
    border-radius: 5px;
  }
}

/* Estilos para pantallas entre 321px y 767px de ancho */
@media (min-width: 321px) and (max-width: 767px) {
  .contenido {
    margin: auto;
    width: 70%; /* Ancho fijo de 450px */
    box-shadow: 5px 5px 10px #206000;
    padding: 15px;
    border-radius: 7px;
  }
}

/* Estilos para pantallas de al menos 768px de ancho */
@media (min-width: 768px) and (max-width: 1027px) {
  .contenido {
    margin: auto;
    width: 60%; /* Ancho fijo de 450px */
    box-shadow: 5px 5px 10px #206000;
    padding: 15px;
    border-radius: 10px;
  }
}

@media (min-width: 1028px) {
  .contenido {
    margin: auto;
    width: 50%; /* Ancho fijo de 450px */
    box-shadow: 7px 7px 15px #206000;
    padding: 15px;
    border-radius: 15px;
  }
}

.contact-me{
  font-size: 1.2rem;
  color: #f9f9f9;
  background-color: #206000;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 10px;
}
